<span class="font-orbitron font-semibold">{{ localize "TYPES.Item.ammunition" }}</span>

<span class="flex gap-1">
	<strong>Category:</strong>
	<span>{{ system.category }}</span>
</span>

{{> sidebars/gear hideLabel=true }}
