<span class="font-orbitron font-semibold">{{ localize "TYPES.Item.itemQuality" }}</span>

<span class="flex gap-1">
	<strong>Ranked:</strong>
	<span>{{#if system.isRanked}}Yes{{else}}No{{/if}}</span>
</span>

<span class="flex gap-1">
	<strong>Specialized:</strong>
	<span>{{#if system.isSpecialized}}Yes{{else}}No{{/if}}</span>
</span>
