{{!-- Container box for sheet titles. --}}
<div class="font-orbitron bg-sky-300 relative p-0.5">
	<div class="flex items-center gap-2 bg-blue-950 py-0.5 px-1 text-white">
		{{> @partial-block }}
	</div>
</div>
