.actor-sheet.player {
	container: sheet / size;

	--col-black: black;
	--col-dark: #1c3156;
	--col-white: white;
	--col-light-blue: #70c4db;
	--clip-size: 1.5rem;
	--col-secondary: #b9e1ef;
	--col-tertiary: #ebf7fb;
}

.actor-sheet.player {
	section[data-tab='talents'] {
		padding: 0.5em;
	}
}

.actor-sheet.player header {
	display: grid;
	grid-template-columns: 1fr;

	.img-container {
		padding: 1px;
		padding-right: 0;
		display: none;
		background: var(--col-light-blue);

		&,
		img {
			clip-path: polygon(0 var(--clip-size), var(--clip-size) 0, 100% 0, 100% 100%, 0 100%);
		}
	}

	.infinity-points-container {
		grid-column: 1 / span 1;

		background: var(--col-light-blue);
		padding: 1px;
		padding-top: 0;

		display: flex;
		flex-flow: row nowrap;
		gap: 1px;

		& > *:first-child {
			flex-grow: 1;
		}

		& > * {
			flex-shrink: 0;
		}

		.box {
			display: flex;
			flex-flow: column nowrap;

			input {
				font-family: var(--font-orbitron);
				font-weight: var(--fw-semi-bold);
				border-radius: 0;
				background: var(--col-white);
				border: none;
				text-align: center;
				color: var(--col-black);
				width: 8rem;
			}
		}

		.label {
			padding: 0.5rem;
			text-transform: uppercase;
			background: var(--col-dark);
			font-family: var(--font-orbitron);
			text-align: center;
		}
	}

	.labeled-input {
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;

		font-family: var(--font-orbitron);
		border: 1px solid var(--col-light-blue);

		span {
			flex-shrink: 0;
			width: 8rem;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: center;
			background: var(--col-dark);
			text-transform: uppercase;
			color: white;
			font-weight: var(--fw-semi-bold);
		}

		input {
			border-radius: 0;
			border: none;
			background: white;
			border-left: 2px solid var(--col-light-blue);
			color: black;
			min-height: 100%;

			&::placeholder {
				color: rgb(0 0 0 / 20%);
				font-style: italic;
			}
		}
	}
}

.actor-sheet.player .section-header {
	display: block;
	padding: 1px;
	background: var(--col-light-blue);
	font-size: var(--font-size-20);
	clip-path: polygon(
		0 0,
		calc(100% - var(--clip-size)) 0,
		100% var(--clip-size),
		100% 100%,
		0 100%
	);
	margin: 0.5rem 0.5rem 0.25rem 0.5rem;

	h2 {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: start;
		background: black;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0.5rem;
		color: var(--col-infinity-orange);
		text-transform: uppercase;
		font-size: 1em;
		clip-path: polygon(
			0 0,
			calc(100% - var(--clip-size)) 0,
			100% var(--clip-size),
			100% 100%,
			0 100%
		);
	}
}

.actor-sheet.player .attributes-list {
	margin: 0 0.5rem 0.5rem 0.5rem;
	columns: 1;
	column-fill: balance;
	column-gap: 0.5rem;

	input {
		text-align: center;
	}

	.attribute-block {
		break-inside: avoid;
		white-space: nowrap;

		display: grid;
		grid-template-columns: 1fr auto repeat(3, 3rem);
		align-items: center;
		margin-bottom: 0.5em;

		border: 1px solid var(--col-light-blue);

		input {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
			border-radius: 0;
			border: none;
			text-align: center;
			font-size: 1.25em;
		}

		input,
		.skill-name,
		.target-number {
			display: flex;
			background: var(--col-tertiary);
			color: black;
			font-family: var(--font-orbitron);
			width: 100%;
			height: 100%;

			&:not(.attribute-value) {
				border: 1px solid var(--col-light-blue);
				border-bottom: none;
			}
		}

		.skill-name,
		.target-number {
			padding: 0.25em;
		}

		.target-number {
			align-items: center;
			justify-content: center;
			position: relative;
			font-weight: var(--fw-black);
			font-size: 1.25em;

			span,
			i {
				position: absolute;
				transition: opacity ease-in-out 0.25s;
			}

			span {
				opacity: 100%;
			}

			i {
				opacity: 0%;
			}

			&:hover {
				span {
					opacity: 0%;
				}
				i {
					opacity: 100%;
				}
			}
		}

		h4,
		h5 {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			text-transform: uppercase;
			justify-content: center;
		}

		h5 {
			font-size: 0.8rem;
			margin: 0;
			padding: 0.25rem;
			background: var(--col-secondary);
			width: 100%;
			color: var(--col-dark);
		}

		h4 {
			grid-column: 1 / span 3;
			margin: 0;
			background: var(--col-dark);
			color: white;
			height: 100%;
			width: 100%;
			padding: 0.25rem;
			border-right: 1px solid var(--col-light-blue);
			border-bottom: 1px solid var(--col-light-blue);
		}

		.attribute-value {
			grid-column: 4 / span 2;
		}
	}
}

.actor-sheet.player .skill-talents {
	break-inside: avoid;
	margin-bottom: 0.5em;
}

.actor-sheet.player .talents-list {
	columns: 1;
	column-fill: balance;
	column-gap: 0.5rem;
}

.actor-sheet.player .section {
	--section-clip: polygon(
		0 0,
		calc(100% - var(--clip-size)) 0,
		100% var(--clip-size),
		100% 100%,
		0 100%
	);

	display: block;
	padding: 1px;
	background: var(--col-light-blue);

	clip-path: var(--section-clip);
	margin: 0.5rem 0.5rem 0.25rem 0.5rem;

	.header {
		font-family: var(--font-orbitron) sans-serif;
		font-size: var(--font-size-20);
		text-transform: uppercase;
		background: black;
		width: 100%;

		clip-path: var(--section-clip);

		padding: 0.25rem;
		color: var(--col-infinity-orange);
	}

	.sublabel {
		background: var(--col-light-blue);
		padding: 0.25em;
		font-family: var(--font-orbitron), sans-serif;
		font-weight: var(--fw-semi-bold);
		font-size: 0.8em;
		color: var(--col-dark);
		text-transform: uppercase;
		width: 100%;

		&:not(.name) {
			text-align: center;
		}
	}

	.qualities span {
		&:last-of-type {
			&::after {
				display: none;
			}
		}
		&::after {
			display: inline;
			content: ', ';
		}

		&.invalid {
			color: var(--col-infinity-red);
		}
	}

	.gear,
	.resources,
	.programs {
		display: grid;
		column-gap: 2px;
		row-gap: 1px;
	}

	.gear {
		grid-template-columns:
			[equip-state] auto
			[name] 1fr
			[quantity] auto
			[maintenance] auto;
	}

	.programs {
		grid-template-columns:
			[equip-state] auto
			[name] 1fr
			[damage] auto
			[qualities] auto;

		.equip-state-carried {
			color: rgb(0 0 0 / 50%) !important;
		}
	}

	.damage {
		grid-column: damage / span 1;
		text-align: center;
	}

	.qualities {
		grid-column: qualities / span 1;
		text-align: center;
	}

	.no-hacking-device {
		color: black;
		padding: 0.5em;
	}

	.label {
		grid-column: 1 / span all;
		background-color: var(--col-dark);
		color: white;
		font-family: var(--font-orbitron), sans-serif;
		text-transform: uppercase;
		padding: 0.5em;
	}

	.resources {
		grid-template-columns:
			[name] 1fr
			[quantity] auto;
	}

	.equip-state,
	.quantity,
	.maintenance,
	.name,
	.damage,
	.qualities {
		padding: 0.25em;

		&:not(.sublabel) {
			width: 100%;
			background: white;
			color: black;
		}
	}

	.equip-state,
	.quantity,
	.maintenance {
		text-align: center;
	}

	.equip-state {
		grid-column: equip-state / span 1;
	}

	.name {
		grid-column: name / span 1;
		text-align: left;
		justify-self: flex-start;
	}

	.quantity {
		grid-column: quantity / span 1;

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	.hacking-device {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		font-family: var(--font-orbitron), sans-serif;
		font-weight: var(--fw-semi-bold);

		.value {
			display: block;
			background: white;
			color: black;
			height: 100%;
			padding: 0.5em;
		}

		.device-field {
			color: var(--col-dark);
			padding: 0 0.5em;
		}

		.device-name {
			flex-grow: 1;
		}
	}

	.maintenance {
		grid-column: maintenance / span 1;
	}

	.cash {
		display: flex;
		flex-flow: row nowrap;
		gap: 2px;
		border-bottom: 2px solid var(--col-light-blue);

		label {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			width: 100%;

			span {
				background: var(--col-light-blue);
				padding: 0.25em;
				font-family: var(--font-orbitron), sans-serif;
				font-weight: var(--fw-semi-bold);
				font-size: 0.8em;
				color: var(--col-dark);
				text-transform: uppercase;
				width: 100%;
				text-align: center;
			}

			input {
				background: white;
				border: none;
				border-radius: 0;
				text-align: center;
				color: black;
			}
		}
	}

	.content {
		width: 100%;
		background: white;
		color: black;
		padding: 0.25rem;
	}
}

.actor-sheet.player .lifestyles {
	display: grid;
	grid-template-columns: auto 1fr auto 4rem;
	align-items: center;

	background: var(--col-light-blue);
	border: 1px solid var(--col-light-blue);
	margin: -0.5rem calc(0.5em + 1px) 0; /* Extra 1px to align with section-header's fake border */

	.actions {
		grid-column: 1 / span 1;
	}

	.name {
		grid-column: 2 / span 1;
	}

	.rating {
		grid-column: 3 / span 1;
	}

	.maintenance {
		grid-column: 4 / span 1;
	}

	.actions,
	.name,
	.rating,
	.maintenance,
	.explanation {
		padding: 0.5em;
		color: black;
		border-bottom: 1px solid var(--col-light-blue);
		background: white;
	}

	.name,
	.rating,
	.maintenance {
		font-family: var(--font-orbitron), sans-serif;
		font-weight: var(--fw-semi-bold);
	}

	.rating,
	.maintenance {
		border-left: 2px solid var(--col-light-blue);
		text-align: center;
	}

	.actions {
		padding-right: 0;
	}

	.explanation {
		grid-column: 1 / span all;
	}
}

.actor-sheet.player .fake-ids {
	display: grid;
	grid-template-columns: auto 1fr 4rem;
	align-items: center;

	background: var(--col-light-blue);
	border: 1px solid var(--col-light-blue);
	margin: -0.5rem calc(0.5em + 1px) 0; /* Extra 1px to align with section-header's fake border */

	.actions {
		grid-column: 1 / span 1;
	}

	.name {
		grid-column: 2 / span 1;
	}

	.rating {
		grid-column: 3 / span 1;
	}

	.actions,
	.name,
	.rating,
	.explanation {
		padding: 0.5em;
		color: black;
		border-bottom: 1px solid var(--col-light-blue);
		background: white;
	}

	.name,
	.rating {
		font-family: var(--font-orbitron), sans-serif;
		font-weight: var(--fw-semi-bold);
	}

	.rating {
		border-left: 2px solid var(--col-light-blue);
		text-align: center;
	}

	.actions {
		padding-right: 0;
	}

	.explanation {
		grid-column: 1 / span all;
	}
}

.actor-sheet.player .background-grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);

	background: var(--col-light-blue);
	border: 1px solid var(--col-light-blue);
	margin: -0.5rem calc(0.5em + 1px) 0; /* Extra 1px to align with section-header's fake border */

	label {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}

	span {
		font-family: var(--font-orbitron), sans-serif;
		font-weight: var(--fw-semi-bold);
		text-transform: uppercase;
		color: var(--col-dark);
		padding: 4px;
	}

	input {
		border: none;
		border-radius: 0;
		background: white;
		color: black;
		text-align: center;
	}

	.homeworld {
		grid-column: 1 / span 4;
	}

	.social-status {
		grid-column: 5 / span 4;
	}

	.age {
		grid-column: 1 / span 2;
	}

	.languages {
		grid-column: 3 / span 6;
	}
}

.actor-sheet.player .background-box {
	background: white;
	color: black;
	border: 1px solid var(--col-light-blue);
	margin: -0.5rem calc(0.5em + 1px) 0; /* Extra 1px to align with section-header's fake border */
	padding: 0.25em;
}

@container sheet (min-width: 550px) {
	.actor-sheet.player header {
		grid-template-columns: 70px 1fr 1fr;
		padding: 0.25em;

		.img-container {
			display: block;
			grid-row: 1 / span 2;
			grid-column: 1 / span 1;
		}

		.infinity-points-container {
			grid-column: 1 / span all;
			clip-path: polygon(
				0 0,
				100% 0,
				100% calc(100% - var(--clip-size)),
				calc(100% - var(--clip-size)) 100%,
				0 100%
			);
		}

		label[data-part='name'] {
			grid-column: 2 / span 2;
		}

		label[data-part='faction'] {
			grid-column: 2 / span 1;
		}

		label[data-part='heritage'] {
			grid-column: 3 / span 1;
		}
	}
}

@container sheet (min-width: 800px) {
	.actor-sheet.player .attributes-list,
	.actor-sheet.player .talents-list {
		columns: 2;
	}
}

@container sheet (min-width: 1200px) {
	.actor-sheet.player .attributes-list,
	.actor-sheet.player .talents-list {
		columns: 3;
	}
}
