:root {
	--col-infinity-light-blue: rgb(240 246 249);
	--col-infinity-dark-blue: rgb(15 20 25);
	--col-infinity-blue: rgb(8 47 74);
	--col-infinity-blue-2: rgb(37 90 136);
	--col-infinity-red: rgb(203 74 46);
	--col-infinity-orange: rgb(248 161 31);
}
