#momentum-tracker {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	gap: 0.5rem;

	width: fit-content;

	a {
		color: var(--col-infinity-light-blue);
	}

	.name {
		padding: 0 2.5rem;
		text-wrap: nowrap;
	}

	.name,
	input {
		font-family: var(--font-orbitron);
		font-weight: var(--fw-semi-bold);
		color: var(--col-infinity-light-blue);
	}

	input {
		border: 1px solid var(--col-infinity-light-blue);
		background: var(--col-infinity-dark-blue);
		text-align: center;
		max-width: 8rem;
	}

	.tracker-container {
		padding: 1px;
		background: var(--col-infinity-light-blue);

		clip-path: polygon(
			0 calc(50% + 0.5rem),
			1rem 1rem,
			2.5rem 1rem,
			3.5rem 0,

			calc(100% - 3.5rem) 0,
			calc(100% - 2.5rem) 1rem,
			calc(100% - 1rem) 1rem,
			100% calc(50% + 0.5rem),
			calc(100% - 1rem) 100%,
			1rem 100%
		);
	}

	.momentum-tracker,
	.heat-tracker {
		display: flex;
		flex-flow: column nowrap;
		gap: 0.25rem;

		align-items: center;
		pointer-events: all;

		background: linear-gradient(
			160deg,
			var(--col-infinity-red) 0%,
			var(--col-infinity-dark-blue) 60%,
			var(--col-infinity-blue) 100%
		);
		clip-path: polygon(
			0 calc(50% + 0.5rem),
			1rem 1rem,
			2.5rem 1rem,
			3.5rem 0,

			calc(100% - 3.5rem) 0,
			calc(100% - 2.5rem) 1rem,
			calc(100% - 1rem) 1rem,
			100% calc(50% + 0.5rem),
			calc(100% - 1rem) 100%,
			1rem 100%
		);
		padding: 0.25rem 1rem 0.5rem;
	}

	.controls {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
}
