@import './item/index.css';

.infinity.item-window,
.infinity.actor-window {
	--s: 4rem;
	--c1: #0d2d45;
	--c2: #0f2a3d;
	--c: #0000, var(--c1) 0.5deg 119.5deg, #0000 120deg;
	--g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
	--g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
	--g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
	background:
		var(--g1),
		var(--g1) var(--s) calc(1.73 * var(--s)),
		var(--g2),
		var(--g2) var(--s) calc(1.73 * var(--s)),
		var(--g3) var(--s) 0,
		var(--g3) 0 calc(1.73 * var(--s)) var(--c2);
	background-size: calc(2 * var(--s)) calc(3.46 * var(--s));

	min-width: 400px;
	min-height: 300px;
}

.infinity .window-content {
	background: linear-gradient(
		150deg,
		var(--col-infinity-red) 0,
		transparent 400px,
		transparent 100%
	);
	background-size: 800px;
	background-repeat: no-repeat;
	padding: 0;

	display: flex;
	flex-flow: column nowrap;
	overflow-y: scroll;

	nav.tabs a {
		color: white;

		&.active {
			text-shadow: 0 0 15px white;
		}
	}

	nav.tabs {
		background-color: rgb(0 0 0 / 35%);
		border-color: var(--col-infinity-dark-blue);
	}

	& > section {
		&.active {
			display: flex;
		}

		flex-flow: column nowrap;
		flex-grow: 1;
	}
}
