/**
 * Prose Mirror should only have a minimum height when active; its text content should simply fit to its content.
 */
prose-mirror {
	flex-grow: 1;

	.editor-content {
		padding: 0.5rem;
	}

	.editor-container .editor-content {
		padding-top: 0;
	}
}
