<div class="w-full text-center text-xl {{#if isGM}}text-red-800{{else}}text-blue-800{{/if}}">
	{{#if wasSpend}}
		<span>{{ localize 'ChatMessages.SpendHeat' amount=amount }}</span>
	{{else}}
		<span>{{ localize 'ChatMessages.StoreHeat' amount=amount }}</span>
	{{/if}}
</div>
