@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Remove Foundry's default padding on sheet windows, so our sheets can take their whole window.
 */
.sheet .window-content {
	padding: 0;
}

/**
 * Minimum Sheet Size: Actors
 */
.window-app.actor {
	min-width: 600px;
	min-height: 400px;
}

/**
 * Minimum Sheet Size: Items
 */
.window-app.item {
	min-width: 400px;
	min-height: 300px;
}

/**
 * Set the default background for .window-content so we don't fallback to the ugly parchment during window close animation.
 */
.window-app.infinity.sheet .window-content {
	background-image: url('assets/images/SheetBG.svg');
	background-size: 2160px 3840px;
}

/**
 * Orbitron Font is available under Open Font License (see assets/fonts/Orbitron/OFL.txt).
 *
 * This font is used frequently in the Infinity rulebooks for title blocks.
 */
@font-face {
	font-family: 'Orbitron';
	src: url('assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('opentype-variations');
	font-weight: 400 900;
	font-style: normal;
}
