@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Remove Foundry's default padding on sheet windows, so our sheets can take their whole window.
 */
.sheet .window-content {
	padding: 0;
}

/**
 * Minimum Sheet Size: Actors
 */
.window-app.actor {
	min-width: 600px;
	min-height: 400px;
}

/**
 * Minimum Sheet Size: Items
 */
.window-app.item {
	min-width: 400px;
	min-height: 300px;
}
