:root {
	--col-black: black;
	--col-white: rgb(223 233 237);
	--col-infinity-light-blue: rgb(112 196 219);
	--col-infinity-dark-blue: rgb(15 20 25);
	--col-infinity-blue: rgb(28 49 86);
	--col-infinity-blue-2: rgb(37 90 136);
	--col-infinity-red: rgb(203 74 46);
	--col-infinity-orange: rgb(248 161 31);
}
