:root {
	--font-orbitron: 'Orbitron';
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 800;
	--fw-black: 900;
}

.fw-regular {
	font-weight: var(--fw-regular);
}

.fw-medium {
	font-weight: var(--fw-medium);
}

.fw-semi-bold {
	font-weight: var(--fw-semi-bold);
}

.fw-bold {
	font-weight: var(--fw-bold);
}

.fw-extra-bold {
	font-weight: var(--fw-extra-bold);
}

.fw-black {
	font-weight: var(--fw-black);
}

/* Orbitron */
@font-face {
	font-family: Orbitron;
	font-style: normal;
	font-weight: 400 900;
	font-display: swap;
	src: url('https://fonts.gstatic.com/s/orbitron/v31/yMJRMIlzdpvBhQQL_Qq7dy1biN15.woff2')
		format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308,
		U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.font-orbitron {
	font-family: var(--font-orbitron);
}

/* Foundry Font Adjustments */
body {
	--font-h1: var(--font-orbitron);
	--font-h2: var(--font-orbitron);
	--font-h3: var(--font-orbitron);
	--font-h4: var(--font-orbitron);
	--font-h5: var(--font-orbitron);
	--font-h6: var(--font-orbitron);
	--font-h1-size: var(--font-size-40);
	--font-h2-size: var(--font-size-28);
	--font-h3-size: var(--font-size-24);
	--font-h4-size: var(--font-size-20);
	--font-h5-size: var(--font-size-18);
	--font-h6-size: var(--font-size-14);
}

#pause figcaption {
	font-family: var(--font-orbitron);
	font-weight: var(--fw-extra-bold);
	letter-spacing: 1.5em;
}
